.tickers {
  display: inline-block;
}

.table {
  text-align: left;
}

.num {
  text-align: right;
}

.up {
  text-align: center;
  color: green;
}

.down {
  text-align: center;
  color: red;
}

.initial {
  text-align: center;
  color: blue;
}

.no-change {
  text-align: center;
  color: orange;
}
